<header class="bg-image-full" style="background-image: url('https://raw.githubusercontent.com/MartinRoman7/AWS-IoT/master/cadena_frio_wall.jpg');">
        <img class="img-fluid" src="https://github.com/MartinRoman7/AWS-IoT/blob/master/CDV-01.png?raw=true" alt="">
    </header>

    <!-- Content section -->
    <section class="py-5">
        <div class="container">
            <h1>Sistema de administración</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <h2>Objetivos</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <h2>Metas</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
        </div>
    </section>

    <!-- Footer -->
    <footer class="bg-dark">
        <div class="container">
            <p class="m-3 text-center text-white">Copyright &copy; Fundación Carlos Slim de la Salud.</p>
        </div>
        <!-- /.container -->
    </footer>