<div class="container" style="width: 100%; margin-top: 30px" id="container">
    <ol id="breadcrumb" class="breadcrumb" hidden style="margin-left: 8px;"></ol>
    <div class="row">
        <div class="col-xs-6 col-sm-12 col-lg-12">
            <video id="preview" width="100%"></video>
            <script type="text/javascript" src="/js/video.js"></script>
        </div>
    </div>
</div>

