<div id="wrap">
    <div id="main" class="container clear-top">
        <section class="py-5">
            <div class="camera">
                <video id="preview" width="110%" height="auto"></video>
                <script type="text/javascript" src="/js/video.js"></script>
            </div>
        </section>
    </div>
</div>